.background {
    color: white;
}
.background::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url("../public/moon.png") center/cover no-repeat;
  filter: blur(8px);
  z-index: -1;
}
body {
    background-image: url('../public/moon.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.tag {
    color: #000000;
    background: linear-gradient(90deg, #fff, #000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient{
    background-color: #490b6b;
    background-image: linear-gradient(315deg, #490b6b 0%, #000000 74%);
}
.gradient1{
    background-color: #8713a1;
    background-image: linear-gradient(320deg, #8713a1 0%, #12100e 34%);
}

.done{
    color: #6a0ed2;
}
.fail{
    color:#eb0e0e;
}
.day-headings{
    color: #ae04be;
}
.text-light {
    font-family: monospace, 'Montserrat', sans-serif;
    font-size: larger;
    
}